<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />
</head>

<body>
  <div class="container">
        <div id="top" class="row">
          <div class="col-2"><img class="small" src="/static/weather/assets/NoAlertIcon.svg"></img></div>
          <div class="col-8"></div>
          <div class="col-2"><img class="small" src="/static/weather/assets/SettingsIcon.svg" style="width:60%"></img></div>
        </div>
        <div class="row delete">
          <div class="col-10"></div>
          <div class="col-2"><img class="small" src="/static/weather/assets/DeleteIcon.svg" style="width:30%"></img></div>
        </div>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-3"><img class="medium" src="/static/weather/assets/SunnyIcon.svg"></img></div>
          <div class="col-4"><img class="large" src="/static/weather/assets/SunnyIcon.svg"></img></div>
          <div class="col-3"><img class="medium" src="/static/weather/assets/DarkOvercastIcon.svg"></img></div>
          <div class="col-1"></div>
        </div>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-3 time" style="margin-left: 15px;"> 1 PM </div>
          <div class="col-4 time" style="text-decoration: underline;"> 2 PM </div>
          <div class="col-3 time" style="margin-left: 5px;"> 3 PM </div>
          <div class="col-1"></div>
        </div>
        <div class="row">
          <div class="col-4 city"></div>
          <div class="col-4 city"> Berkeley, CA</div>
          <div class="col-4 city"></div>
        </div>
    </div>
    <div class="container">
      <div class="row delete">
        <div class="col-10"></div>
        <div class="col-2"><img class="small" src="/static/weather/assets/DeleteIcon.svg" style="width:30%"></img></div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-3"><img class="medium" src="/static/weather/assets/DarkOvercastIcon.svg"></img></div>
        <div class="col-4"><img class="large" src="/static/weather/assets/RainyIcon.svg"></img></div>
        <div class="col-3"><img class="medium" src="/static/weather/assets/DarkCloudIcon.svg"></img></div>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-3 time" style="text-decoration: underline; margin-left: 15px;"> 2 PM </div>
        <div class="col-4 time" style=""> 3 PM </div>
        <div class="col-3 time" style="margin-left: 5px;"> 4 PM </div>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="col-4 city"></div>
        <div class="col-4 city"> Eureka, CA</div>
        <div class="col-4 city"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-1"><img id="add" class="small" src="/static/weather/assets/AddIcon.svg"></img></div>
        <div class="col-4"><input id="addText" type="text" value="Search city, region ..."</input></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
      </div>
    </div>
    <br>
    <div class="bottom-container">
      <div class="row">
        <div class="col-6"></div>
        <div class="btn-group col-4">
          <button type="button" class="toggleOn"> Weather </button>
          <button type="button" class="toggleOff"> Temperature</button>
        </div>
        <div class="col-2"></div>
      </div>
    </div>


</body>

</html>
