<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />
</head>

<body>
  <div class="container">
        <div id="top" class="row">
          <div class="col-2"><img id="theAlert" class="small" src="/static/weather/assets/AlertIcon.svg" onclick="deleteAlertText();"></img></div>
          <div id="theAlertText" class="col-8 alertText"> Heavy Rain in your area!</div>
          <div class="col-2"><img class="small" src="/static/weather/assets/SettingsIcon.svg" style="width:60%"></img></div>
        </div>
  </div>
  <div id="section1" class="container">
        <div class="row delete">
          <div class="col-10"></div>
          <div class="col-2"><img class="small" src="/static/weather/assets/DeleteIcon.svg" style="width:30%" onclick="deleteSection1();"></img></div>
        </div>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-3"><img class="medium" src="/static/weather/assets/SunnyIcon.svg"></img></div>
          <div class="col-4"><img class="large" src="/static/weather/assets/SunnyIcon.svg"></img></div>
          <div class="col-3"><img class="medium" src="/static/weather/assets/DarkOvercastIcon.svg"></img></div>
          <div class="col-1"></div>
        </div>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-3 time" style="margin-left: 15px;"> 1 PM </div>
          <div class="col-4 time" style="text-decoration: underline;"> 2 PM </div>
          <div class="col-3 time" style="margin-left: 5px;"> 3 PM </div>
          <div class="col-1"></div>
        </div>
        <div class="row">
          <div class="col-4 city"></div>
          <div class="col-4 city"> Berkeley, CA</div>
          <div class="col-4 city"></div>
        </div>
    </div>
    <div id="section2" class="container">
      <div class="row delete">
        <div class="col-10"></div>
        <div class="col-2"><img class="small" src="/static/weather/assets/DeleteIcon.svg" style="width:30%" onclick="deleteSection2();"></img></div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-3"><img class="medium" src="/static/weather/assets/DarkOvercastIcon.svg"></img></div>
        <div class="col-4"><img class="large" src="/static/weather/assets/AlertedRainyIcon.svg"></img></div>
        <div class="col-3"><img class="medium" src="/static/weather/assets/RainyIcon.svg"></img></div>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-3 time" style="text-decoration: underline; margin-left: 15px;"> 2 PM </div>
        <div class="col-4 time" style=""> 3 PM </div>
        <div class="col-3 time" style="margin-left: 5px;"> 4 PM </div>
        <div class="col-1"></div>
      </div>
      <div class="row">
        <div class="col-4 city"></div>
        <div class="col-4 city"> Eureka, CA</div>
        <div class="col-4 city"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-1"><img id="add" class="small" src="/static/weather/assets/AddIcon.svg" onclick="addSection();"></img></div>
        <div class="col-4"><input id="addText" type="text" value="Search city, region ..."</input></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
      </div>
    </div>
    <br>
    <div class="bottom-container">
      <div class="row">
        <div class="col-4"></div>
        <div class="btn-group col-4">
          <button type="button" class="toggleOn"> Weather </button>
          <button type="button" class="toggleOff"> Temperature</button>
        </div>
        <div class="col-4"></div>
      </div>
    </div>
</body>

<script>
  function deleteAlertText() {
    document.getElementById("theAlertText").innerHTML = "";
    document.getElementById("theAlert").src = "/static/weather/assets/NoAlertIcon.svg"
  }

  function deleteSection1() {
    document.getElementById("section1").innerHTML = "";
  }

  function deleteSection2() {
    document.getElementById("section2").innerHTML = "";
  }

  function addSection() {
    if (document.getElementById("addText").value == "Berkeley") {
      var section1text = "<div class='row delete'><div class='col-10'></div><div class='col-2'><img class='small' src='/static/weather/assets/DeleteIcon.svg' style='width:30%'' onclick='deleteSection1();'></img></div></div>" +
        "<div class='row'><div class='col-1'></div><div class='col-3'><img class='medium' src='/static/weather/assets/SunnyIcon.svg'></img></div>" +
        "<div class='col-4'><img class='large' src='/static/weather/assets/SunnyIcon.svg'></img></div><div class='col-3'><img class='medium' src='/static/weather/assets/DarkOvercastIcon.svg'></img></div>" +
        "<div class='col-1'></div></div><div class='row'><div class='col-1'></div><div class='col-3 time' style='margin-left: 15px;'> 1 PM </div>" +
        "<div class='col-4 time' style='text-decoration: underline;'> 2 PM </div><div class='col-3 time' style='margin-left: 5px;'> 3 PM </div><div class='col-1'></div>" +
        "</div><div class='row'><div class='col-4 city'></div><div class='col-4 city'> Berkeley, CA</div><div class='col-4 city'></div></div>"
      document.getElementById("section1").innerHTML = section1text;
      berkeleyAlertText();
    }
    if (document.getElementById("addText").value == "Eureka") {
      var section2text = "<div class='row delete'><div class='col-10'></div><div class='col-2'><img class='small' src='/static/weather/assets/DeleteIcon.svg' style='width:30%'' onclick='deleteSection2();'></img></div></div>" +
        "<div class='row'><div class='col-1'></div><div class='col-3'><img class='medium' src='/static/weather/assets/DarkOvercastIcon.svg'></img></div>" +
        "<div class='col-4'><img class='large' src='/static/weather/assets/AlertedRainyIcon.svg'></img></div><div class='col-3'><img class='medium' src='RainyIcon.svg'></img></div>" +
        "<div class='col-1'></div></div><div class='row'><div class='col-1'></div><div class='col-3 time' style='margin-left: 15px;'> 1 PM </div>" +
        "<div class='col-4 time' style='text-decoration: underline;'> 2 PM </div><div class='col-3 time' style='margin-left: 5px;'> 3 PM </div><div class='col-1'></div>" +
        "</div><div class='row'><div class='col-4 city'></div><div class='col-4 city'> Eureka, CA</div><div class='col-4 city'></div></div>"
      document.getElementById("section2").innerHTML = section2text;
      eurekaAlertText();
    }
  }
  function berkeleyAlertText() {
    document.getElementById("theAlertText").innerHTML = "Heat wave advisory in your area!";
    document.getElementById("theAlert").src = "/static/weather/assets/AlertIcon.svg"
  }

  function eurekaAlertText() {
    document.getElementById("theAlertText").innerHTML = "Heavy rain in your area!";
    document.getElementById("theAlert").src = "/static/weather/assets/AlertIcon.svg"
  }
</script>

</html>
